<h3 style='color:blue'>Tuples</h3>

We looked at lists in previous lectures. Lists store values of similar concept. i.e. in below list every number is an expense

In [8]:
expenses=[1200,1400,1700]

But what if you want to store two different concepts in a sequential manner? For example say you want to store a two dimensional point representing values of X and Y cordinate? You can use list but more appropriate way to represent this would be a tuple

In [9]:
point=(5,6)
point[0] # this represents the x-coordinate

5

In [10]:
point[1] # this represents the y-coordinate

6

In [11]:
type(point) # this will return <class 'tuple'>, indicating that point is a tuple

tuple

In [12]:
point[1]=7

TypeError: 'tuple' object does not support item assignment

Once you initialize tuples you can not change its values. i.e. Tuples are immutable. Lists can grow dynamically whereas tuples have a fixed size hence they are more memory efficient

Tuples can have any number of values. It doesn't have to be only two values

In [ ]:
point_3d = (5,8,10)

Tuples are useful when you want to return multiple values from a function

In [ ]:
def find_pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [ ]:
pe_ratio, pb_ratio = find_pe_and_pb(100, 2, 4)

In [ ]:
pe_ratio, pb_ratio #this is called tuple unpacking, where the returned tuple is unpacked into two variables

(50.0, 25.0)

<h3 style='color:blue'>Dictionary</h3>

Let's say you want to write a python program that can store phone numbers. Here you will have name of the person and a phone number. Say you have following people and their phone numbers,

rachel => 8887771111
monica => 9195675555
joey => 3332229999

One way to store this information is using a list of tuples as shown below,

In [ ]:
contacts = [('rachel',8887771111), ('monica',9195675555), ('joey',3332229999)]

But here when you want to search for a phone number of a specific person you will have to run a for loop and search the records sequentially

In [ ]:
for contact in contacts:
    if contact[0]=='joey':
        print(contact[1])

3332229999

If list is very long say 10000 elements and element you are looking for is at the end, you would have now done 10000 iterations in the loop which is not efficient. In terms of memory complexity this is O(n)

**Refer to codebasics youtube channel for this video: https://www.youtube.com/watch?v=IR_S8BC8KI0 to get understanding on Big O notation for measuring complexity , from the dsa playlist: https://www.youtube.com/playlist?list=PLeo1K3hjS3uu_n_a__MI_KktGTLYopZ12**

There is a better data structure called dictionary that allows you to search for an element in Big O(1) (or constant time complexity). Now we will define a python dictionary


Can learn about dictionaries in python from here: https://www.w3schools.com/python/python_dictionaries.asp

we used hashmap (wich takes O(1) TC) data structure below instead of list (wich takes O(n) TC). As in hashmap it finds the key in constant time, we can directly find the key and return the value. If the key is not present in hashmap, it will return -1. 

Can learn about hashmap from here: https://www.geeksforgeeks.org/hashing-set-getting-started-python/
and about list from here: https://www.geeksforgeeks.org/python-list/

In [2]:
d = {
    'rachel': 8887771111,
    'monica': 9195675555,
    'joey': 3332229999
}
d

{'rachel': 8887771111, 'monica': 9195675555, 'joey': 3332229999}

In [3]:
type(d)

dict

In [15]:
d['joey']

3332229999

Accessing an element in a dictionary by a key is very fast (i.e. O(1) or constant time complexity).
Now what happens if you try to access an elementby a key that doesn't exist in a dictionary

In [ ]:
d['satya'] # this will raise a KeyError as 'satya' is not a key in the dictionary

KeyError: 'satya'

You can use get function which returns None if the element doesn't exist

In [ ]:
#d.get('key') function is same as d['key'], but it will not raise an error if the key does not exist
d.get('satya')  
# this will return nothing as 'satya' is not a key in the dictionary

In [ ]:
d.get('rachel') # this will return 8887771111, the value associated with the key 'rachel'

8887771111

**Change value of existing element**

In [ ]:
d['rachel']

8887771111

In [13]:
d['rachel']=1112568888 # this will update the value associated with the key 'rachel'
d['rachel']

1112568888

**Add new element**

In [ ]:
d['satya']=2228764555 # this will add a new key-value pair to the dictionary and update the dictionary
d

{'rachel': 1112568888,
 'monica': 9195675555,
 'joey': 3332229999,
 'satya': 2228764555}

**Delete an element**

In [ ]:
del d['satya'] # this will delete the key 'satya' and its associated value from the dictionary
d

{'rachel': 1112568888, 'monica': 9195675555, 'joey': 3332229999}

**in operator**

In [20]:
'abdul' in  d #this will check if 'abdul' is a key in the dictionary d, it will return boolean value True or False

False

In [19]:
'rachel' in d

True

In [18]:
'abdul' not in d #this will check if 'abdul' is not a key

True

**Dictionary can store any data type as its value. Below the value in the dictionary is another dictionary**

In [21]:
contact_dict = {
    'rachel' : { 'phone': 1234, 'address': '1 blue st' },
    'joey' : { 'phone': 999, 'address': '7 newton blvd' }
}
#this is a nested dictionary example, where each key maps to another dictionary

In [ ]:
contact_dict['rachel']['address'] # this will return the address associated with the key 'rachel'

'1 blue st'

In [ ]:
contact_dict['joey'] #this will return the dictionary associated with the key 'joey'

{'phone': 999, 'address': '7 newton blvd'}

In [24]:
contact_dict['rachel']['phone']

1234

**Iterate through every element and print their values**

In [ ]:
for name in d:
    print(name)
#this will print only key or element in the dictionary d

rachel
monica
joey

In [26]:
for name in d:
    print(name, d[name])
#this will print each key and its associated value in the dictionary d

rachel 1112568888
monica 9195675555
joey 3332229999

In [29]:
for name, number in d.items():
    print(name, number)

rachel 1112568888
monica 9195675555
joey 3332229999

**Get only keys or only values**

In [30]:
d.keys()

dict_keys(['rachel', 'monica', 'joey'])

In [31]:
d.values()

dict_values([1112568888, 9195675555, 3332229999])

### Nested Dictionaries

In [34]:
appl_revenues = {
    "USA": {
        "iPhone": 20,
        "iPad": 12,
        "MacBook": 8
    },
    "China": {
        "iPhone": 17,
        "iPad": 9,
        "MacBook": 6
    },
    "India": {
        "iPhone": 9,
        "iPad": 4,
        "MacBook": 2
    }
}
appl_revenues

{'USA': {'iPhone': 20, 'iPad': 12, 'MacBook': 8},
 'China': {'iPhone': 17, 'iPad': 9, 'MacBook': 6},
 'India': {'iPhone': 9, 'iPad': 4, 'MacBook': 2}}

In [35]:
appl_revenues["India"]["iPad"]

4

In [36]:
for country, product_data in appl_revenues.items():
    print(country)
# This will print each country in the dictionary appl_revenues

USA
China
India

In [37]:
for country, product_data in appl_revenues.items():
    print(country , product_data)
# This will print each country and its associated product data in the dictionary appl_revenues

USA {'iPhone': 20, 'iPad': 12, 'MacBook': 8}
China {'iPhone': 17, 'iPad': 9, 'MacBook': 6}
India {'iPhone': 9, 'iPad': 4, 'MacBook': 2}

In [38]:
for country, product_data in appl_revenues.items():
    for product, rev in product_data.items():
        print(f"{country} {product}: {rev} million $")

# This will print the revenue of each product in each country in a formatted string

USA iPhone: 20 million $
USA iPad: 12 million $
USA MacBook: 8 million $
China iPhone: 17 million $
China iPad: 9 million $
China MacBook: 6 million $
India iPhone: 9 million $
India iPad: 4 million $
India MacBook: 2 million $

Some more dictonaries you can explore.

In [39]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']